# Python
.venv
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Env / secrets
.env
.env.*

# Git
.git
.gitignore

# Frontend
frontend/node_modules
frontend/dist
frontend/.vite
frontend/.env
frontend/.env.*

# OS / editor
.vscode
.idea
.DS_Store

# Optional
README.md