DATABASE_URL=postgresql+asyncpg://user:password@host/dbname?ssl=require
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
ACCESS_SECRET_KEY=
ACCESS_MINUTES_EXPIRE=30
REFRESH_SECRET_KEY=
REFRESH_DAYS_EXPIRE=7
ALGORITHM=HS256
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USERNAME=
EMAIL_PASSWORD=